# Student Loan Risk with Deep Learning

In [84]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [85]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [86]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [87]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [88]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [89]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [90]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

print(f"Length of x_train: {len(x_train)}")
print(f"Length of x_test: {len(x_test)}")

Length of x_train: 1199
Length of x_test: 400

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [91]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(x_train)

# Fit the scaler to the features training dataset
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [92]:
# Define the the number of inputs (features) to the model
input_length = len(x_train_scaled[0])

# Review the number of features
input_length

11

In [93]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 11

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 18

# Define the number of neurons in the output layer
output_nodes = 1

In [94]:
# Create the Sequential model instance
model = Sequential()

# Add the first hidden layer
model.add(Dense(units=hidden_nodes_layer1, input_dim=input_length, activation="relu"))

# Add the second hidden layer
model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(units=output_nodes, activation="sigmoid"))

In [95]:
# Display the Sequential model summary
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 11)                132

 dense_10 (Dense)            (None, 18)                216

 dense_11 (Dense)            (None, 1)                 19

=================================================================
Total params: 367 (1.43 KB)
Trainable params: 367 (1.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [96]:
# Compile the Sequential model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [97]:
# Fit the model using 50 epochs and the training data
epochs = 50
history = model.fit(x_train_scaled, y_train, epochs=epochs, verbose=2, validation_data=(x_test_scaled, y_test))

Epoch 1/50

38/38 - 1s - loss: 0.6526 - accuracy: 0.6555 - val_loss: 0.6341 - val_accuracy: 0.6700 - 599ms/epoch - 16ms/step
Epoch 2/50
38/38 - 0s - loss: 0.6085 - accuracy: 0.7098 - val_loss: 0.5945 - val_accuracy: 0.6950 - 61ms/epoch - 2ms/step
Epoch 3/50
38/38 - 0s - loss: 0.5740 - accuracy: 0.7223 - val_loss: 0.5611 - val_accuracy: 0.7225 - 69ms/epoch - 2ms/step
Epoch 4/50
38/38 - 0s - loss: 0.5464 - accuracy: 0.7314 - val_loss: 0.5402 - val_accuracy: 0.7250 - 96ms/epoch - 3ms/step
Epoch 5/50
38/38 - 0s - loss: 0.5309 - accuracy: 0.7356 - val_loss: 0.5271 - val_accuracy: 0.7375 - 63ms/epoch - 2ms/step
Epoch 6/50
38/38 - 0s - loss: 0.5209 - accuracy: 0.7506 - val_loss: 0.5205 - val_accuracy: 0.7325 - 64ms/epoch - 2ms/step
Epoch 7/50
38/38 - 0s - loss: 0.5145 - accuracy: 0.7531 - val_loss: 0.5159 - val_accuracy: 0.7400 - 65ms/epoch - 2ms/step
Epoch 8/50
38/38 - 0s - loss: 0.5094 - accuracy: 0.7515 - val_loss: 0.5138 - val_accuracy: 0.7300 - 59ms/epoch - 2ms/step
Epoch 9/50
38/38 - 0s - loss: 0.5059 - accuracy: 0.7506 - val_loss: 0.5110 - val_accuracy: 0.7325 - 59ms/epoch - 2ms/step
Epoch 10/50
38/38 - 0s - loss: 0.5023 - accuracy: 0.7490 - val_loss: 0.5104 - val_accuracy: 0.7325 - 52ms/epoch - 1ms/step
Epoch 11/50
38/38 - 0s - loss: 0.5001 - accuracy: 0.7548 - val_loss: 0.5095 - val_accuracy: 0.7325 - 66ms/epoch - 2ms/step
Epoch 12/50
38/38 - 0s - loss: 0.4970 - accuracy: 0.7565 - val_loss: 0.5094 - val_accuracy: 0.7400 - 68ms/epoch - 2ms/step
Epoch 13/50
38/38 - 0s - loss: 0.4943 - accuracy: 0.7523 - val_loss: 0.5088 - val_accuracy: 0.7325 - 63ms/epoch - 2ms/step
Epoch 14/50
38/38 - 0s - loss: 0.4928 - accuracy: 0.7540 - val_loss: 0.5083 - val_accuracy: 0.7375 - 53ms/epoch - 1ms/step
Epoch 15/50
38/38 - 0s - loss: 0.4899 - accuracy: 0.7565 - val_loss: 0.5084 - val_accuracy: 0.7375 - 62ms/epoch - 2ms/step
Epoch 16/50
38/38 - 0s - loss: 0.4888 - accuracy: 0.7581 - val_loss: 0.5093 - val_accuracy: 0.7325 - 51ms/epoch - 1ms/step
Epoch 17/50
38/38 - 0s - loss: 0.4866 - accuracy: 0.7581 - val_loss: 0.5092 - val_accuracy: 0.7400 - 69ms/epoch - 2ms/step
Epoch 18/50
38/38 - 0s - loss: 0.4862 - accuracy: 0.7623 - val_loss: 0.5091 - val_accuracy: 0.7400 - 55ms/epoch - 1ms/step
Epoch 19/50
38/38 - 0s - loss: 0.4831 - accuracy: 0.7565 - val_loss: 0.5091 - val_accuracy: 0.7500 - 55ms/epoch - 1ms/step
Epoch 20/50
38/38 - 0s - loss: 0.4823 - accuracy: 0.7606 - val_loss: 0.5103 - val_accuracy: 0.7400 - 57ms/epoch - 1ms/step
Epoch 21/50
38/38 - 0s - loss: 0.4797 - accuracy: 0.7640 - val_loss: 0.5100 - val_accuracy: 0.7450 - 65ms/epoch - 2ms/step
Epoch 22/50
38/38 - 0s - loss: 0.4783 - accuracy: 0.7606 - val_loss: 0.5098 - val_accuracy: 0.7450 - 61ms/epoch - 2ms/step
Epoch 23/50
38/38 - 0s - loss: 0.4766 - accuracy: 0.7690 - val_loss: 0.5111 - val_accuracy: 0.7400 - 60ms/epoch - 2ms/step
Epoch 24/50
38/38 - 0s - loss: 0.4748 - accuracy: 0.7681 - val_loss: 0.5115 - val_accuracy: 0.7450 - 52ms/epoch - 1ms/step
Epoch 25/50
38/38 - 0s - loss: 0.4734 - accuracy: 0.7698 - val_loss: 0.5108 - val_accuracy: 0.7425 - 61ms/epoch - 2ms/step
Epoch 26/50
38/38 - 0s - loss: 0.4727 - accuracy: 0.7706 - val_loss: 0.5121 - val_accuracy: 0.7400 - 55ms/epoch - 1ms/step
Epoch 27/50
38/38 - 0s - loss: 0.4711 - accuracy: 0.7748 - val_loss: 0.5120 - val_accuracy: 0.7450 - 66ms/epoch - 2ms/step
Epoch 28/50
38/38 - 0s - loss: 0.4693 - accuracy: 0.7740 - val_loss: 0.5124 - val_accuracy: 0.7450 - 51ms/epoch - 1ms/step
Epoch 29/50
38/38 - 0s - loss: 0.4676 - accuracy: 0.7781 - val_loss: 0.5133 - val_accuracy: 0.7450 - 66ms/epoch - 2ms/step
Epoch 30/50
38/38 - 0s - loss: 0.4661 - accuracy: 0.7781 - val_loss: 0.5145 - val_accuracy: 0.7450 - 55ms/epoch - 1ms/step
Epoch 31/50
38/38 - 0s - loss: 0.4654 - accuracy: 0.7773 - val_loss: 0.5146 - val_accuracy: 0.7500 - 58ms/epoch - 2ms/step
Epoch 32/50
38/38 - 0s - loss: 0.4634 - accuracy: 0.7815 - val_loss: 0.5149 - val_accuracy: 0.7525 - 65ms/epoch - 2ms/step
Epoch 33/50
38/38 - 0s - loss: 0.4614 - accuracy: 0.7832 - val_loss: 0.5151 - val_accuracy: 0.7525 - 57ms/epoch - 1ms/step
Epoch 34/50
38/38 - 0s - loss: 0.4602 - accuracy: 0.7815 - val_loss: 0.5155 - val_accuracy: 0.7525 - 56ms/epoch - 1ms/step
Epoch 35/50
38/38 - 0s - loss: 0.4592 - accuracy: 0.7848 - val_loss: 0.5167 - val_accuracy: 0.7575 - 57ms/epoch - 1ms/step
Epoch 36/50
38/38 - 0s - loss: 0.4587 - accuracy: 0.7815 - val_loss: 0.5164 - val_accuracy: 0.7525 - 55ms/epoch - 1ms/step
Epoch 37/50
38/38 - 0s - loss: 0.4567 - accuracy: 0.7890 - val_loss: 0.5193 - val_accuracy: 0.7525 - 53ms/epoch - 1ms/step
Epoch 38/50
38/38 - 0s - loss: 0.4553 - accuracy: 0.7857 - val_loss: 0.5195 - val_accuracy: 0.7550 - 54ms/epoch - 1ms/step
Epoch 39/50
38/38 - 0s - loss: 0.4547 - accuracy: 0.7907 - val_loss: 0.5191 - val_accuracy: 0.7525 - 55ms/epoch - 1ms/step
Epoch 40/50
38/38 - 0s - loss: 0.4530 - accuracy: 0.7907 - val_loss: 0.5203 - val_accuracy: 0.7600 - 55ms/epoch - 1ms/step
Epoch 41/50
38/38 - 0s - loss: 0.4519 - accuracy: 0.7915 - val_loss: 0.5204 - val_accuracy: 0.7575 - 59ms/epoch - 2ms/step
Epoch 42/50
38/38 - 0s - loss: 0.4514 - accuracy: 0.7898 - val_loss: 0.5223 - val_accuracy: 0.7525 - 54ms/epoch - 1ms/step
Epoch 43/50
38/38 - 0s - loss: 0.4509 - accuracy: 0.7907 - val_loss: 0.5212 - val_accuracy: 0.7575 - 55ms/epoch - 1ms/step
Epoch 44/50
38/38 - 0s - loss: 0.4486 - accuracy: 0.7957 - val_loss: 0.5247 - val_accuracy: 0.7425 - 46ms/epoch - 1ms/step
Epoch 45/50
38/38 - 0s - loss: 0.4479 - accuracy: 0.7965 - val_loss: 0.5234 - val_accuracy: 0.7500 - 67ms/epoch - 2ms/step
Epoch 46/50
38/38 - 0s - loss: 0.4470 - accuracy: 0.7973 - val_loss: 0.5247 - val_accuracy: 0.7475 - 46ms/epoch - 1ms/step
Epoch 47/50
38/38 - 0s - loss: 0.4488 - accuracy: 0.7923 - val_loss: 0.5261 - val_accuracy: 0.7500 - 69ms/epoch - 2ms/step
Epoch 48/50
38/38 - 0s - loss: 0.4462 - accuracy: 0.7965 - val_loss: 0.5246 - val_accuracy: 0.7500 - 57ms/epoch - 2ms/step
Epoch 49/50
38/38 - 0s - loss: 0.4444 - accuracy: 0.8007 - val_loss: 0.5266 - val_accuracy: 0.7500 - 57ms/epoch - 1ms/step
Epoch 50/50
38/38 - 0s - loss: 0.4433 - accuracy: 0.7990 - val_loss: 0.5283 - val_accuracy: 0.7450 - 57ms/epoch - 1ms/step

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [98]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model.evaluate(x_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5283 - accuracy: 0.7450 - 28ms/epoch - 2ms/step
Loss: 0.5282700061798096, Accuracy: 0.7450000047683716

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [99]:
# Set the model's file path
path = './Pickled_Models/student_loans.keras'

# Export your model to a keras file
model.save(path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [100]:
# Set the model's file path
path = './Pickled_Models/student_loans.keras'

# Load the model to a new object
model_from_pkl = tf.keras.models.load_model(path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [101]:
# Make predictions with the test data
predictions = model_from_pkl.predict(x_test_scaled)

# Display a sample of the predictions
predictions[:5]

13/13 [==============================] - 0s 914us/step

array([[0.42905033],
       [0.34549826],
       [0.86861265],
       [0.6748153 ],
       [0.9912998 ]], dtype=float32)

In [102]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(predictions, columns=["Predicted_Value"])
predictions_df['Predicted_Value'] = round(predictions_df['Predicted_Value'],0)

### Step 4: Display a classification report with the y test data and predictions

In [103]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df['Predicted_Value']))

              precision    recall  f1-score   support

           0       0.71      0.78      0.74       188
           1       0.79      0.71      0.75       212

    accuracy                           0.74       400
   macro avg       0.75      0.75      0.74       400
weighted avg       0.75      0.74      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

    I believe the following data would be valuable to collect:
    * Current financial assets of student - and cosigner if applicable - this can help understand collateral available against the loan.
    * Field of study - aids in understanding projected income brackets and accordingly the repayment burden of different loan amounts
    * Cost of program
    * Length of the program / expected graduation
    * Past academic performance - aids in evaluating the risk of the student failing to complete their studies
    * Past Loan History / Credit Score - indications of creditworthiness
    
    These are a few of many possible fields to collect and would help gauge the financial burden to repay certain loan amounts by the borrower.


2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

    * I would try to employ context-based filtering as it is the most individualized and can overcome the issue with cold starting. The depth of analytics for context-based filtering can create recommendations specific to the individual user more readily than collaborative filtering. 

    * Some combination of filtering could be appropriate - for instance a collaborative filter creates student classes that drive certain high-level loan categories, subsequently utilizing a context-based filter for the more specific loan details.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

    * Avoiding Bias: the model may become unintentionally biased towards certain fields of study, schools, or demographics. The data that is used to train the model will need to be carefully considered to ensure that seemingly benign data, such as ZIP code, doesn't accidentally introduce implicit information. 

    * Data Security: Due to the sensitive nature of loan documentation with personally identifiable information from social security numbers through home addresses, the training data will need to be properly secured and anonymized.